@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

@import "tailwindcss";

@theme {
    --font-principal: "Poppins", "sans-serif";

    --color-cinza-principal-50: #f3f4f6;
    --color-cinza-principal-100: #edeef1;
    --color-cinza-principal-200: #d7dbe0;
    --color-cinza-principal-300: #b3bbc6;

    --color-roxo-principal-50: #f0f3fd;
    --color-roxo-principal-100: #e3e8fc;
    --color-roxo-principal-200: #ccd4f9;
    --color-roxo-principal-300: #adb7f4;
    --color-roxo-principal-400: #8c93ed;
    --color-roxo-principal-500: #7170e4;
    --color-roxo-principal-600: #574cd5;
    --color-roxo-principal-700: #5145bd;
    --color-roxo-principal-800: #423a99;
    --color-roxo-principal-900: #3a357a;
    --color-roxo-principal-950: #231f47;

    --color-laranja-principal-50: #fffcea;
    --color-laranja-principal-100: #fff5c5;
    --color-laranja-principal-200: #ffeb85;
    --color-laranja-principal-300: #ffda46;
    --color-laranja-principal-400: #ffc71b;
    --color-laranja-principal-500: #ffa500;
    --color-laranja-principal-600: #e27c00;
    --color-laranja-principal-700: #bb5502;
    --color-laranja-principal-800: #984208;
    --color-laranja-principal-900: #7c360b;
    --color-laranja-principal-950: #481a00;

    --color-azul-principal-50: #ebf7ff;
    --color-azul-principal-100: #d2eeff;
    --color-azul-principal-200: #afe3ff;
    --color-azul-principal-300: #78d3ff;
    --color-azul-principal-400: #38b9ff;
    --color-azul-principal-500: #0b93ff;
    --color-azul-principal-600: #006fff;
    --color-azul-principal-700: #0056ff;
    --color-azul-principal-800: #0045d4;
    --color-azul-principal-900: #0241a6;
    --color-azul-principal-950: #051b44;



    --color-borda-input: #CDD1DB;
}

.input-crud {
    @apply bg-white border border-borda-input rounded-lg p-4 w-full h-14 2xl:h-12 focus:outline-none placeholder:text-cinza-principal-300 placeholder:text-[15px] focus:border-roxo-principal-500 focus:ring-1 focus:ring-roxo-principal-500 transition duration-200 ease-in-out;
}

.label-crud {
    @apply text-azul-principal-950 font-medium text-[15px] 2xl:text-[12px] font-principal;
}

.btn-crud {
    @apply bg-roxo-principal-600 text-white text-xl 2xl:text-[16px] font-medium rounded-lg p-2 w-full h-14 2xl:h-12 hover:bg-roxo-principal-700 cursor-pointer transition duration-200 ease-in-out;
}

.container-input {
    @apply flex flex-col gap-2;
}

/* Definindo um limite para o tamanho dos inputs e do formulário */
.w-full.max-w-lg {
    max-width: 450px;
}

/* Reset de margens e box-sizing */
* {
    box-sizing: border-box;
}

#root,
body,
html {
    min-height: 100vh;
}



/* NotFound.css */
.container {
    display: flex;
    flex-direction: column;
    border: floralwhite 1px solid;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    margin-left: 3.5%;
    height: 80vh;
    background-color: #1a1a1a;
    color: white;
    text-align: center;
  }
  
  .title {
    font-size: 3rem;
    font-weight: bold;
    color: #ff4a4a;
  }
  
  .message {
    font-size: 1.5rem;
    color: floralwhite;
    margin-top: 10px;
  }
  
  .home-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: floralwhite;
    background-color: #ff4a4a;
    border: 1px solid floralwhite;
    font-size: 1.2rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s;
  }
  
  .home-link:hover {
    background-color: #4caf50;
  }
  